<div ng-controller="navController">
	<nav class="navbar navbar-light bg-light">
	<a class="nav-link " href="" ng-click="homeview()">TRABAJOS</a>
		<a class="nav-link " href="" ng-click="oficinistasview()">OFICINISTAS</a>
		<a class="nav-link " href="" ng-click="sociosview()">SOCIOS</a>
		<a class="nav-link " href="" ng-click="busesview()">BUSES</a>
		<a class="nav-link " href="" ng-click="empresasview()">EMPRESAS</a>
		<a class="nav-link " href="" ng-click="logout()">Cerrar sesión</a>
	</nav>
</div>
<br>
<div ng-controller="busesController" ng-init="mostrar()" class="container" style="width:2500px;">
	<h4 align="center">LISTA DE BUSES</h4>
	<br>
	<div align="right">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop"><i class="fas fa-plus"></i> Agregar Nuevo Bus</button>
	</div>
	<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog" ng-init="FK()">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">DATOS DEL NUEVO BUS</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelar()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" ng-model="idBus" name="idBus">
					<label>Marca</label>
					<input type="text" name="marca" ng-model="marca" class="form-control" required/>
					<br />
					<label>Modelo</label>
					<input type="text" name="modelo" ng-model="modelo" class="form-control" required/>
					<br />
					<label>Año de Fabricación</label>
					<input type="text" name="ano_fab" ng-model="ano_fab" class="form-control" required/>
					<br />
					<label>Capacidad</label>
					<input type="text" name="capacidad" ng-model="capacidad" class="form-control" required/>
					<br />
					<label>Placa</label>
					<input type="text" name="placa" ng-model="placa" class="form-control" required />
					<br />
					<label>Residencia</label>
					<div>
						<select class="form-control" name="idParoquia" ng-model="idParroquia">
							<option value="">Seleccione..</option>
							<option ng-repeat="par in parroquias" value="{{par.idParroquia}}">{{par.nombre}}</option>
						</select>
					</div>
					<!--<input type="text" name="idParroquia" ng-model="idParroquia" class="form-control" required />-->
					<br />
					<label>Socio Dueño</label>
					<div>
						<select class="form-control" name="idSocio" ng-model="idSocio">
							<option value="">Seleccione..</option>
							<option ng-repeat="socio in socios" value="{{socio.idSocio}}">{{socio.apellido}} {{socio.nombre}}</option>
						</select>
					</div>
					<!--<label>Socio Dueño</label>
					<input type="text" name="idSocio" ng-model="idSocio" class="form-control" required />-->
					<br />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" ng-click="cancelar()" data-dismiss="modal" >Cancelar</button>
					<input type="submit" name="btnInsertar" class="btn btn-info" ng-click="insertar()" value="{{boton}}" data-dismiss="modal"/>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div>
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Marca</th>
					<th scope="col">Modelo</th>
					<th scope="col">Año de Fabricación</th>
					<th scope="col">Capacidad</th>
					<th scope="col">Placa</th>
					<th scope="col">Residencia</th>
					<th scope="col">Socio Dueño</th>
					<th scope="col">Editar</th>
					<th scope="col">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bus in buses" >
					<td>{{bus.marca}}</td>
					<td>{{bus.modelo}}</td>
					<td>{{bus.ano_fab}}</td>
					<td>{{bus.capacidad}}</td>
					<td>{{bus.placa}}</td>
					<td>{{bus.Parroquia}}</td>
					<td>{{bus.Socio}}</td>
					<td><button type="button" data-toggle="modal" data-target="#staticBackdrop" class="btn btn-warning" ng-click="Editar(bus.idBus,bus.marca, bus.modelo,bus.ano_fab,bus.capacidad,bus.placa,bus.idParroquia,bus.idSocio)"><i class="fas fa-edit"></i> Editar</button></td>
					<td><button type="button" class="btn btn-danger" ng-click="Eliminar(bus.idBus)"> <i class="fas fa-trash-alt"></i> Eliminar</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>